:root {
    --body-bg: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    --messager-bg: #fff;
    --border: 2px solid #ddd;
    --left-message-bg: #ececec;
    --right-message-bg: #579ffb;
}

*,
*:before,
*:after {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: inherit;
}

.messager-whole-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: var(--body-bg);
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}

.messager {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    width: 100%;
    max-width: 867px;
    margin: 25px 10px;
    height: calc(100% - 50px);
    border: var(--border);
    border-radius: 5px;
    background: var(--messager-bg);
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.2);
}

.messager-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: var(--border);
    background: #eee;
    color: #666;
}

.messager-chat {
    flex: 1;
    overflow-y: auto;
    padding: 10px;
}

.messager-chat :global::-webkit-scrollbar {
    width: 6px;
}

.messager-chat :global::-webkit-scrollbar-track {
    background: #ddd;
}

.messager-chat :global::-webkit-scrollbar-thumb {
    background: #bdbdbd;
}

.message {
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
}

.message:last-of-type {
    margin: 0;
}

.message-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    background: #ddd;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.message-bubble {
    max-width: 450px;
    padding: 15px;
    border-radius: 15px;
    background: var(--left-message-bg);
}

.message-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.message-info-name {
    margin-right: 10px;
    font-weight: bold;
}

.message-info-time {
    font-size: 0.85em;
}

.left-message .message-bubble {
    border-bottom-left-radius: 0;
}

.right-message {
    flex-direction: row-reverse;
}

.right-message .message-bubble {
    background: var(--right-message-bg);
    color: #fff;
    border-bottom-right-radius: 0;
}

.right-message .message-img {
    margin: 0 0 0 10px;
}

.messager-inputarea {
    display: flex;
    padding: 10px;
    border-top: var(--border);
    background: #eee;
}

.messager-inputarea * {
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 1em;
}

.messager-input {
    flex: 1;
    background: #ddd;
}

.messager-send-btn {
    margin-left: 10px;
    background: rgb(0, 196, 65);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.23s;
}

.messager-send-btn:hover {
    background: rgb(0, 180, 50);
}

.messager-chat {
    background-color: #fcfcfe;
    background-image: url('./1299497-e91e63.svg');
    background-position: center;
    background-repeat: no-repeat;
}

.message-text {
    display: flex;
}