
/* compat inline menu */
.flat-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flatmenu-item {
    position: relative;
    padding: 7px 10px;
    overflow: hidden; /* 新增关键属性 */
    background-color: var(--flatmenu-item-bg);
    color: var(--flatmenu-item-primary-text);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.06);
}

.flatmenu-item::selection {
    /* NOTE ":selection" is a */
    background: rgba(0, 0, 0, 0);
}

.flatmenu-item:first-child {
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.06);
}

.flatmenu-item:last-child {
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom: none;
}

.flatmenu-item:hover {
    background: var(--flatmenu-item-bg-darker);
}

.flatmenu-item.selected {
    background: linear-gradient(
            to right,
            rgba(66, 165, 245, 0.15),
            transparent
    );
    border-left: var(--flatmenu-item-border);
}

.menu-icon {
    width: 20px;
    height: 20px;
    margin-right: 16px;
    fill: currentColor;
    opacity: 0.8;
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(0);
        border-radius: inherit; /* inherit round corner from parent */
    }
    to {
        opacity: 0;
        transform: scale(4);
        border-radius: inherit; /* keep round corner spread */
    }
}

.flatmenu-item:active::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.1);
    animation: ripple 0.24s linear;
}
